<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <style>
        .center_text {
            text-align:center;
        }
    </style>
</head>

<body>
    <div class="center_text">
        <h3><a href = "{{ url_for('index') }}" style="font-size: 70px">Spotify Song Recommender</a></h3>
    </div>

    <hr/>

    <div class="alert alert-danger" role="alert">
  <p class="alert-link">We're sorry. There was a problem accessing the database. Please try back later. </p>
    </div>

    <b>
         <a href = "{{ url_for('index') }}">Click here to return</a>
    </b>

</body>
</html>